<div class="container mt-4">
  <h1>Edit Movie</h1>

  <%= form_with model: @movie, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', style: 'width: 45%;' %> <!-- input field with custom width -->
    </div>

    <div class="mb-3">
      <%= f.label :overview %>
      <%= f.text_area :overview, class: 'form-control', style: 'width: 45%;' %> <!-- textarea with custom width -->
    </div>

    <div class="mb-3">
      <%= f.label :poster_url %>
      <%= f.text_field :poster_url, class: 'form-control', style: 'width: 45%;' %> <!-- input field with custom width -->
    </div>

    <div class="mb-3 d-flex">
      <!-- Save Button -->
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Update Movie
      </button>

      <!-- Delete Button with confirmation -->
      <%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger ms-2' %>
    </div>
  <% end %>

  <div>
    <!-- Cancel Button -->
    <%= link_to '<i class="fas fa-times"></i> Cancel'.html_safe, movie_path(@movie), class: 'btn btn-secondary' %>
  </div>
</div>
